#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	# pure Python — nothing to compile

override_dh_auto_install:
	python3 -m pip install --no-deps --no-build-isolation \
	    --root=$(CURDIR)/debian/python3-pyham-ax25 --prefix=/usr .
